.root {
  z-index: 198;

  @media (min-width: $mantine-breakpoint-2xl) {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  @media (min-width: $mantine-breakpoint-3xl) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: $mantine-breakpoint-4xl) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.rightContent {
  display: flex;
  width: 100%;
  max-width: 42rem;
  align-items: center;
}

.leftContent {
  margin-inline-start: auto;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  gap: 0.5rem;

  @media (min-width: $mantine-breakpoint-xs) {
    gap: 0.75rem;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    gap: 1rem;
  }
}

.logo {
  margin-inline-end: 1rem;
  width: 2.25rem;
  flex-shrink: 0;
  color: inherit;

  @media (min-width: $mantine-breakpoint-lg) {
    margin-inline-end: 1.25rem;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    display: none;
  }
}
