.root {
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding: var(--mantine-spacing-md);

  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}
